.tabela {
  justify-content: left;
  margin-top: 10px;
  color: var(--white);
  border-collapse: collapse;
  width: 100%;
  flex-direction: column;
}

.tableRow {
  text-align: left;
  display: flex;
}

.colunaId,
.colunaCliente,
.colunaEndereco,
.colunaResponsavel,
.colunaDataEntrega,
.colunaBotoes {
  border: 1px solid;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.colunaCliente,
.colunaEndereco,
.colunaResponsavel {
  padding: 0 15px 0 5px;
}

.colunaId {
  width: 6.2%;
  text-align: center;
  padding: 0;
}

.colunaCliente {
  width: 30%;
}
.colunaEndereco {
  width: 37%;
}

.colunaResponsavel {
  width: 18%;
}

.colunaDataEntrega {
  text-align: center;
  width: 18%;
}

.colunaBotoes {
  display: flex;
  width: 16%;
  align-items: center;
  justify-content: space-around;
}

.colunaBotoes button,
.colunaBotoes a {
  background: transparent;
  transition: all 0.2s;
  border-radius: 6px;
  margin: 2px 0 2px 0;
}

.botaoAlterar {
  color: var(--green-400);
}

.botaoAlterar :hover {
  transform: scale(1.1);
}
