# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
producao/app-build-manifest.json
producao/build-manifest.json
producao/package.json
producao/react-loadable-manifest.json
producao/trace
producao/cache/webpack/client-development/0.pack.gz
producao/cache/webpack/client-development/1.pack.gz
producao/cache/webpack/client-development/2.pack.gz
producao/cache/webpack/client-development/3.pack.gz
producao/cache/webpack/client-development/4.pack.gz
producao/cache/webpack/client-development/index.pack.gz
producao/cache/webpack/client-development/index.pack.gz.old
producao/cache/webpack/client-production/0.pack
producao/cache/webpack/client-production/1.pack
producao/cache/webpack/client-production/2.pack
producao/cache/webpack/client-production/3.pack
producao/cache/webpack/client-production/index.pack
producao/cache/webpack/client-production/index.pack.old
producao/cache/webpack/server-development/0.pack.gz
producao/cache/webpack/server-development/1.pack.gz
producao/cache/webpack/server-development/2.pack.gz
producao/cache/webpack/server-development/index.pack.gz
producao/cache/webpack/server-development/index.pack.gz.old
producao/cache/webpack/server-production/0.pack
producao/cache/webpack/server-production/1.pack
producao/cache/webpack/server-production/2.pack
producao/cache/webpack/server-production/index.pack
producao/cache/webpack/server-production/index.pack.old
producao/server/app-paths-manifest.json
producao/server/middleware-build-manifest.js
producao/server/middleware-manifest.json
producao/server/middleware-react-loadable-manifest.js
producao/server/next-font-manifest.js
producao/server/next-font-manifest.json
producao/server/pages-manifest.json
producao/server/server-reference-manifest.js
producao/server/server-reference-manifest.json
producao/server/webpack-api-runtime.js
producao/server/webpack-runtime.js
producao/server/app/_not-found_client-reference-manifest.js
producao/server/app/not-found_client-reference-manifest.js
producao/server/app/not-found.js
producao/server/pages/_app.js
producao/server/pages/_document.js
producao/server/pages/_error.js
producao/server/pages/atividadesGerais.js
producao/server/pages/index.js
producao/server/pages/api/auth/[...nextauth].js
producao/server/vendor-chunks/@swc.js
producao/server/vendor-chunks/next.js
producao/static/chunks/app-pages-internals.js
producao/static/chunks/main-app.js
producao/static/chunks/main.js
producao/static/chunks/polyfills.js
producao/static/chunks/react-refresh.js
producao/static/chunks/webpack.js
producao/static/chunks/app/not-found.js
producao/static/chunks/pages/_app.js
producao/static/chunks/pages/_error.js
producao/static/chunks/pages/atividadesGerais.js
producao/static/chunks/pages/index.js
producao/static/development/_buildManifest.js
producao/static/development/_ssgManifest.js
producao/static/webpack/6e553111f5ebc709.webpack.hot-update.json
producao/static/webpack/633457081244afec._.hot-update.json
producao/static/webpack/f500aaf72ed93f68.webpack.hot-update.json
producao/static/webpack/webpack.6e553111f5ebc709.hot-update.js
producao/static/webpack/webpack.f500aaf72ed93f68.hot-update.js
producao/static/webpack/pages/_app.f500aaf72ed93f68.hot-update.js
producao/types/package.json
producao/server/pages/api/auth/[...nextauth].js
producao/cache/webpack/client-development/5.pack.gz
producao/cache/webpack/server-development/3.pack.gz
producao/server/pages/api/auth/[...nextauth].js
