.container {
  background-color: var(--blue-100);
  padding: 20px;
  margin: 15px 40px;
  border-radius: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.titulo {
  text-align: center;
  color: var(--white);
  flex: 1;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(65vh - 4.6rem);
  overflow-y: scroll;
}

.itens a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 75px;
  background-color: var(--blue-400);
  margin: 10px;
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.itens a:hover {
  transform: scale(1.05);
}

.detalhe {
  font-size: 17px;
}
