.container {
  width: 100%;
  display: grid;
  margin-top: 10px;  
  margin-bottom: 7px;
}

.container button {
  margin-left: 25px;
}

.titulo {
  margin-top: 50px;
  color: var(--white);
  border: 2px solid;
  border-radius: 4px;
  background-color: var(--blue-100);
  padding: 2px 7px;
  display: flex;
  margin: 0 25%;
  display: grid;
  text-align: center;
}

.containerBotao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  
}

.botaoSignOut {
  margin-right: 25px;
}
