.container {
  width: 100%;
  
}

.consultas {
  display: flex;  
}

.consultas a {
  margin-left: 25px;
}

.setores {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
}

.setores a {
  text-align: center;
  width: 12.81%;
  height: calc(100vh - 300px);
  margin: 0 .6%; 
  word-wrap: break-word;
}
