.container {
  display: flex;
  flex-direction: column;
  max-width: 1324px;
  padding: 0 1.4%;
}

.botoesHeader {
  display: flex;
}

.camposPesquisa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2.8%;
  }
  /* Caso seja visualizado em celular, joga a side para cima */
  .camposPesquisa {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr;
    font-size: 87.5%;
  }
  .camposPesquisa label,
  .camposPesquisa button {
    width: 100%;
    margin-top: 10px;
  }
}


.camposPesquisa input {
  /* margin: 0 5px; */
  width: 100%;
}

.camposPesquisa button,
.camposPesquisa input {
  /* margin: 0 10px; */
}

.camposPesquisa label {
  margin-right: 8px;
}


.camposPesquisa input {
  margin-right: 8px;  
}

.botaoPesquisar {
  margin-left: 8px;  
}

