.container {
  width: 100%;
  padding: 0 25px;
}

.botoesHeader {
  display: flex;
}

.camposPesquisa {
  display: flex;
  align-items: center;
  margin: 20px calc(15vw + 100px) 0 0;
}

.camposPesquisa label,
.camposPesquisa button,
.camposPesquisa input {
  margin: 0 10px;
}

.camposPesquisa input {
  flex: 3.2;
}

.botaoDropDown {
  flex: 1.6;
}

.botaoPesquisar {
  flex: 1;
}