.container {
  display: grid;
  padding-left: 2%;
  padding-top: 1.2%;
  margin-right: 25%;
}

.container input {
  width: 100%;
}

.camposDividido {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 14px;
}

.camposDividido * {
  font-size: 19px;
}

.campoCliente,
.campoCEP,
.campoLogradouro,
.campoNumero,
.campoBairro,
.campoCidade,
.campoArquiteto,
.campoVendas,
.campoMedicao,
.campoProducaoAcabamento,
.campoEntrega {
  margin-right: 15px;
}

.campoCliente {
  flex: 4;
}

.campoCEP {
  flex: 1;
}

.campobotaoCEP {
  flex: 1;
}

.campoLogradouro {
  flex: 3;
}

.campoNumero {
  flex: 0.5;
}

.campoComplemento {
  flex: 2;
}

.campoBairro {
  flex: 3;
}

.campoCidade {
  flex: 2;
}

.campoUF {
  flex: 0.5;
}

.campoArquiteto {
  flex: 2;
}

.campoDataEntrega {
  flex: 0.5;
}

.campoVendas {
  flex: 1;
}

.campoMedicao {
  flex: 1;
}

.campoProducaoSerra {
  flex: 1;
}

.campoProducaoAcabamento {
  flex: 1;
}

.campoEntrega {
  flex: 1;
}

.campoInstalacao {
  flex: 1;
}

.campoObservacao {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.botaoBuscaCEP {
  margin-top: 15%;
}

.campos input {
  font-weight: normal;
}
.botoes button,
.campos input,
.botoes label,
.campos label {
  font-size: 17px;
}

.campoObservacao textarea[name="observacoes"] {
  height: 105px;
  resize: none;
  padding: 2px 10px;
  color: #474747;
  font-size: 15px;
  border: 0;
  border-radius: 4px;
}

.botoes button {
  width: 39%;
  height: 35px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    margin-right: 0;
  }

  .botaoBuscaCEP {
    margin-top: 19px;
  }
}

@media (max-height: 890px) {
  .camposDividido * {
    font-size: 85%;
  }
}
